{
  "users": [
    {
      "email": "jst0930@gmail.com",
      "password": "x",
      "name": "Steve Jeong"
    },
    {
      "name": "John",
      "email": "w@w",
      "password": "w"
    },
    {
      "name": "PSooni",
      "email": "psooni@gmail.com",
      "password": "x"
    }
  ]
}