
<% if(user) { %>
  <div>
    <%= user.name %> | 
    <a href="/logout">Logout</a>
  </div>
  
<% } else { %>  
  <div>  
    <a href="/auth/google">
      <img
        height="50"
        src="btn_google_signin_light_normal_web@2x.png"
        alt="Login with Google"
      />
    </a> 
    <a href="/auth/facebook">
      <img
        height="50"
        src="continue with facebook.png"
        alt="Continue with Facebook"
      />
    </a> 
    <a href="/auth/kakao">
      <img
        height="50"
        src="https://developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"
        alt="Login with Kakao"
      />
    </a> 
    <a href="/auth/naver">
      <img
        height="50"
        src="btnG_icon_square.png"
        alt="Login with Naver"
      />
    </a>
  </div>
<% } %>
<h1>Passport Login Webdev Simplified</h1>

<h3>수업소개</h3>
<p>Web Dev Simplified의 passport 인증 수업</p>
<p>
<div>
  <a href="https://www.youtube.com/watch?v=-RCnNyD0L-s&ab_channel=WebDevSimplified" target="_blank">Node.js Passport Login System Tutorial</a>
</div>
</p>
  
<div>
  <a href="/mypage">to My Page</a>
</div>
